In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
costs = pd.read_csv('cost.csv')

In [9]:
costs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14655 entries, 0 to 14654
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   store_id                  14111 non-null  float64
 1   rent_incentive_r12m       14655 non-null  float64
 2   service_charges_r12m      14655 non-null  float64
 3   marketing_costs_r12m      14655 non-null  float64
 4   administration_fees_r12m  14655 non-null  float64
 5   real_estate_taxes_r12m    14655 non-null  float64
 6   large_scale_works_r12m    14655 non-null  float64
 7   maintenance_works_r12m    14655 non-null  float64
dtypes: float64(8)
memory usage: 916.1 KB

In [10]:
costs.head()

,store_id,rent_incentive_r12m,service_charges_r12m,marketing_costs_r12m,administration_fees_r12m,real_estate_taxes_r12m,large_scale_works_r12m,maintenance_works_r12m
0,0.0,-44479.0,46663.0,8273.0,5672.0,67519.0,13777.0,5591.0
1,55.0,-37692.0,22365.0,8407.0,13249.0,30528.0,715.0,3789.0
2,259.0,-75975.0,76921.0,9732.0,4661.0,48639.0,12409.0,17192.0
3,226.0,-74867.0,35722.0,8937.0,1323.0,24502.0,6631.0,33046.0
4,104.0,-57134.0,30775.0,1247.0,4119.0,8557.0,11283.0,48185.0

In [15]:
data_catalogue = pd.read_excel('datacatalogueHEC.xlsx')

In [18]:
data_catalogue.head(11)

,Column Name,Data Type,Data Range,Example Value,Description
0,store_name,string,Free Text,"""Zara""",Store commercial name
1,store_id,int,[0-999999999],"""111""",Unique store identifier
2,mall_id,int,[0-999999999],"""543""",Unique mall identifier
3,store_year_opened,datetime,01/01/1970 - Now,07/05/2021\t,Store opening date
4,store_year_closed,datetime,01/01/1970 - Now,11/02/2021\t,Store closing date
5,store_branch_level_1,string,Free Text,"""Services""",Primary business category
6,store_branch_level_2,string,Free Text,"""Sweet moments""",Secondary business category
7,store_branch_level_3,string,Free Text,"""Monobrand mainstream""",Tertiary business category
8,store_sales_r12m,float,[0-999999999.0],"""450699""",Rolling 12 months sales
9,store_rent_r12m,float,[0-999999999.0],"""546236""",Rolling 12 months rent
10,store_area,float,[0-999999999.0],"""346677""",Store gross leasable area (m²)